body {
    letter-spacing: 0.8px;
    background-image: url(./assets/images/light-patten.svg);
}

.navbar {
    box-shadow: 0px -8px 10px 2px;

    .nav-link:hover,
    .nav-link:focus {
        color: #26d326;
    }
}